.header {
  display: grid;
  grid-template-columns: 400px 1fr;
  background-color: rgb(44, 40, 40);
  padding: 30px;
}
.logo {
  align-content: top;
}
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
h1 {
  color: papayawhip;
}
a {
  color: papayawhip;
  font-size: large;
  text-decoration: none;
  transition: 0.15s;
}
a:hover {
  color: white;
  background-color: rgb(95, 120, 56);
  height: 100%;
  padding: 30px;
  margin: -30px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.vote {
  display: inline-block;
  margin-left: 300px;
  background-color: salmon;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
body {
  font-family: "popins", sans-serif;
}
