* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: (2, 1fr);
  gap: 2px;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  background-color: rgb(182, 230, 247);
  border: 1px solid black;
  text-align: center;
  font-family: sans-serif;
  color: rgb(155, 54, 54);
  cursor: pointer;
  padding: 20px;
}
.box1 {
  text-align: center;
  grid-column: 1 / span 1;
}
.box2 {
  background-color: darkgrey;
  text-align: center;
  grid-column: 2 / span 1;
}
.box5,
.box6 {
  text-align: center;
}

body {
  background-color: rgb(213, 213, 197);
}
.container :hover {
  background-color: papayawhip;
}
a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  padding: 10px 20px;
}
a:hover {
  color: blue;
}
img {
  width: 200px;
}
@media (max-width: 56em) {
  .container {
    grid-template-columns: 1fr;
  }
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6 {
    grid-column: 2 / span 1;
    width: 100%;
    margin: auto;
  }
}
.container {
  grid-template-columns: repeat(2, 1fr);
}
button {
  background-color: bisque;
  font-size: larger;
  padding: 20px 40px;
  cursor: pointer;
}
