.header {
  display: grid;
  grid-template-columns: 400px 1fr;
  background-color: black;
  padding: 30px;
}
.logo {
  align-content: top;
}
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
h1 {
  color: papayawhip;
}
a {
  color: papayawhip;
  font-size: large;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: rgb(95, 120, 56);
  transition: 0.15s;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
