.container_1 {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.container_2 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.container_3 {
  display: flex-column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 100px;
  
}
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
  padding: 15px;
}
.main1 {
  display: flex;
  align-content: start;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 300px;
  margin-top: 100px;
}
.main2 {
  display: flex;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  align-self: center;
}
h1 {
  font-size: 20px;
  margin: 0;
  color: papayawhip;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
}
a:hover {
  background-color: #555;
  color: white;
}
h2:after {
  content: "\2713";
}

image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
  height: auto;
  object-fit: scale-down;
}
